<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
<script>
    window.config = {
        socketUrl: '<%=socketUrl%>'
    }
</script>
<div id="root"></div>
<script src="./index.js"></script>
</body>
</html>
